/*============================================================================*/
/*=== Reset ==================================================================*/
/*============================================================================*/
* { font-family: 'Open Sans', sans-serif; }
*:not(h1,h2,h3,h4,h5) { font-size: 15px; }
i { font-weight: 300 !important; }
a {
  color: #0077be;
  text-decoration: none;
}
a:hover {
  color: #2eb6ec;
  text-decoration: underline;;
}

body {

  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5 { font-weight: 300; }
h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }

/*h2 { font-size: 1.8em; font-weight: 300; }
h3 { font-size: 1.6em; font-weight: 300; }
h4 { font-size: 1.4em; font-weight: 300; }
h5 { font-size: 1.2em; font-weight: 300; }
h1 strong { font-size: 1em; font-weight: bold; }*/


/*============================================================================*/
/*=== Footer =================================================================*/
/*============================================================================*/
footer {
  background-color: #485b67;
  color: #cdcbcb;
}

footer a, footer a:hover {
  color: #cdcbcb;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
  color: white;
}

footer .inline.links a {
  display: inline-block;
  padding: 0 50px 20px 0;
}

/*============================================================================*/
/*=== Ad =====================================================================*/
/*============================================================================*/
section.advertisement {
  background-image: url('../images/presentation.jpg');
  background-size: cover;
}
section.advertisement h1 { margin: 10px 0; }
/*============================================================================*/
/*=== Grid ===================================================================*/
/*============================================================================*/
.grid {
  display: table;
  width: 100%;
}
.grid > .column {
  display: table-cell;
  padding: 10px;
}
.grid > .column.gray {
  background-color: #f1f4f9;
}
.dashed.columns .column {
  border: 1px dashed #ddd;
  border-top: 0;
}
.dashed.columns .grid:first-child > .column{
  border: 1px dashed #ddd;
}
.dashed.columns .grid > .column:first-child {
  border-right: 0;
}
.grid.two.columns > .column {
  width: 50%;
}
.grid.three.columns > .column {
  width: 33.333333%;
}
.grid.four.columns > .column {
  width: 25%;
}
/*============================================================================*/
/*=== Section ================================================================*/
/*============================================================================*/
section {
  border-bottom: 1px dashed #ddd;
  color: #343434;
}
section:not(.inverted) h1,
section:not(.inverted) h2,
section:not(.inverted) h3,
section:not(.inverted) h4,
section:not(.inverted) h5 {
  color: #666;
}
section.inverted {
  background-color: black;
  color: white;
}
section.gray {
  background-color: #f1f4f9;
}
section h2:first-child {
  margin-top: 0;
  padding-top: 0.83em;
}
/*============================================================================*/
/*=== Tabs =================================================================*/
/*============================================================================*/
.tabs.container {
  background-color: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -2px 10px -1px rgba(0,0,0,0.1);
  min-height: 300px;
  padding: 0;
}
.tabs.container > .tabs {
  width: 100%;
}
.tabs.container > .tabs.full {
  display: table;
}
.tabs.container > .tabs.two.full > .tab {
  display: table-cell;
  width: 50%;
}
.tabs.container > .tabs > .tab {
  background-color: #f1f4f9;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 10px 20px;
  font-size: 1.4em
}
.tabs.container > .tabs > .tab:first-child {
  border-radius: 10px 0 0 0;
}
.tabs.container > .tabs > .tab:last-child {
  border-radius: 0 10px 0 0;
  border-right: 0;
}
.tabs.container > .tabs > .tab.selected {
  background-color: white;
  border-top: 3px solid #0077bd;
  color: #0077bd;
  border-left: 0;
  border-bottom: 0;
}
.tabs.container > .tabs > .tab:not(.selected) {
  cursor: pointer;
}
.tabs.container > .tabs > .tab:not(.selected):hover {
  background-color: #b4b4b4;
  color: white;
}
.tabs.container > .content {
  background-color: white;
}


/*============================================================================*/
/*=== Header =================================================================*/
/*============================================================================*/
header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
  background-color: white;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header .menu {
  min-height: 58px;
}

header .top.section {
  border-bottom: 1px solid #ddd;
}
/*header.position.fixed .top.section {display: none;}*/

header .top.section .menu .item { font-size: 1em; font-weight: normal; }
/*============================================================================*/
/*=== Main ===================================================================*/
/*============================================================================*/
main.fixed {
  padding-top: 58px;
}
/*============================================================================*/
/*=== Classes ================================================================*/
/*============================================================================*/
.display.block { display: block; }
